* {
    box-sizing: border-box;
}
html {
    width: 100%;
    height:100%;
}
body {
    background-image: url(./foto.jpg);
    background-size: cover;
}

#content {
    width: 1000px;
    height: 2000px;
    margin-left: 10%;
    background-color:transparent;
}  
.cont_size {
    width: 450px;
    height: 750px;
    margin-left: 30%;
    background-color:white;
}

.content__home {
    background-color:white;
    width: 500px;
    height: 400px;
    margin-left: 30%; 
    margin-right: 30%;
    
}

.content__sobre-nos {
    background-color:white;
    width: 500px;
    height: 400px;
    margin-left: 30%;
    margin-right: 30%;

}
 .content__contato {
    background-color:white;
    width: 500px;
    height: 400px;
    margin-left: 30%;
    margin-right: 30%;
 }
 .content__duvidas {
    background-color:white;
    width: 500px;
    height: 400px;
    margin-left: 30%;
    margin-right: 30%;
 }
 .content__foto {
    width: 100px;
    height: 100px;
 }
 h1 {
     text-align: center;
     font-family:'Special Elite', cursive;
 }
p {
    text-align: center;
    font-family: 'Special Elite', cursive;
}